# Git
.git
.gitignore
.gitattributes

# CI
.github
.gitlab-ci.yml
.travis.yml

# Docker
.docker
.dockerignore
Dockerfile*
docker-compose*.yml

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Testing
/coverage
.phpunit.result.cache

# Logs
*.log

# Temp files
*.tmp
*.temp
*.cache
