{
    frankenphp
    order php_server before file_server
}

:80 {
    root * /app/public

    php_server {
        index index.php
    }

    encode gzip

    file_server

    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
    }
}
